replicaCount: 1
image:
  repository: ghcr.io/chia-network/github-bot
  tag: {{ DOCKER_TAG }}

deployment:
  args:
    - notify-stale
    - --loop

# Creates a secret with the following values, and mounts as a file into the main deployment container
secretFile:
  mountPath: "/config"
  stringValues:
    config.yml: |
      github_token: "{{ BOT_GITHUB_TOKEN }}"
      internal_team: "{{ INTERNAL_TEAM_NAME }}"
      check_repos:
        - name: "Chia-Network/chia-blockchain"
          minimum_number: 17788
        - name: "Chia-Network/chia-blockchain-gui"
          minimum_number: 2300
        - name: "pattesting1/bot-testing"
          minimum_number: 0
      skip_users:
        - "dependabot[bot]"
        - "github-actions[bot]"
        - "socket-security[bot]"
        - "github-actions[bot]"

secretEnvironment:
  GH_BOT_DATABASE_HOST: "{{ DB_HOST }}"
  GH_BOT_DATABASE_USERNAME: "{{ GH_BOT_DB_USERNAME }}"
  GH_BOT_DATABASE_PASSWORD: "{{ GH_BOT_DB_PASSWORD }}"
  GH_BOT_DATABASE_DBNAME: github-bot
